@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Best Restaurant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CuisineType): @Html.DisplayFor(model => model.CuisineType)<h3>

<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p>

<p>@Html.ActionLink("Back to  Best Restaurant list", "Index",  "Restaurants")</p> @*//Restaurant(s)*@

<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>

<p>@Html.ActionLink("Back to Home", "Home")</p>
